//colors
$primaryColor: #2E294E;
$seconderyColor: rgb(27, 153, 139);
$teriaryColor: #323043a6;
$surfaceBrand:  rgb(233, 30, 99);

$primaryTextColor: #fefae0;
$textTeriary: #DCEC99;
$textBrand: #E91E63;

$textSizeXLarge: 2.6em;
$textSizeLarge: 1.8em;
$textSizeMiddle: 1.6em;
$textSizeSmall: 1em;
$textSizeXSmall: 0.6em;