@import "./partials/navbar";
@import "./partials/variables";
@import "./partials/404";
@import "./partials/index";
@import "./partials/about";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: $primaryColor;
  #index-container {
    height: 80em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  h1 {
    font-family: "DM Serif Display";
    font-size: 2.6em;
    color: $textBrand;
    text-align: center;
  }

  h2 {
    font-family: "DM Serif Display";
    font-size: 1.8em;
    color: $primaryTextColor;
    text-align: center;
  }
  h3 {
    font-family: "DM Serif Display";
    font-size: 1.6em;
    color: $primaryTextColor;
    text-align: center;
  }
  p {
    color: $primaryTextColor;
  }
}
