@import "./partials/navbar";
@import "./partials/variables";
@import "./partials/404";
@import "./partials/index";
@import "./partials/about";
@import "./partials/resume";
@import "./partials/desktopNav";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: $primaryColor;
  

  h1 {
    font-family: "DM Serif Display";
    font-size: $textSizeXLarge;
    color: $textBrand;
    text-align: center;
  }

  h2 {
    font-family: "DM Serif Display";
    font-size: $textSizeLarge;
    color: $primaryTextColor;
    text-align: center;
  }
  h3 {
    font-family: "DM Serif Display";
    font-size: $textSizeMiddle;
    color: $primaryTextColor;
    text-align: center;
  }
  h4 {
    font-family: "DM Serif Display";
    font-size: $textSizeMiddle;
    color: $primaryTextColor;
    text-align: center;
  }

  p {
    font-size: $textSizeSmall;
    color: $primaryTextColor;
  }
  .link {
    display: flex;
    justify-content: center;
    color: $textTeriary;
    font-size: 20px;
  }
  .small-link {
    display: flex;
    justify-content: flex-start;
    color: $textTeriary;
    a {
      display: flex;
      gap: 1em;
      align-items: baseline;
    }
  }
}
